:root{
    --primary-color: #FF686B;
    --secondary-color: #FFA69E;
    --primary2-color: #84DCC6;
    --secondary2-color: #A5FFD6;
    --text-color: #FFFFFF;
    --text2-color: #222222;
}

header {
    background-color: var(--primary-color);
    margin: 0;
    padding: 1.5em;
    text-align: center;
}

header h1 {
    color: var(--text-color);
}

nav {
    background-color: var(--primary-color);
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 1em;
    border-radius: 10px;
}

nav ul li a:visited {
    color: var(--text-color);
}

nav ul li a:hover {
    background-color: var(--secondary-color);
}

.card-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 0.5em;
}

.buttonCard {
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: var(--primary2-color);
    color: var(--text2-color);
    text-decoration: none;
    margin-bottom: 10px;
}

.card button:hover {
    background-color: var(--secondary2-color);
}

.lateralButtons button:hover { 
    background-color: var(--secondary2-color);
}
.bigCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 1em;
    padding: 1em;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
}

.bigCard button:hover {
    background-color: var(--secondary2-color);
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lateralButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1em;
    text-align: center;
}