:root {
    /* Dark Purple tc1*/
    --principal-color: #260C1A;
    --text-color1: #FFFFFF;
    /* Eggplant tc1*/
    --secondary-color: #432E36;
    /* Liver tc1*/
    --tertiary-color: #5F4842;
    /* Rossy Brown tc2*/
    --principal-bg: #AF8D86;
    --text-color2: #000000;
    /* Tea Rose tc2*/
    --secondary-bg: #EDBFC6;

}
*{
    box-sizing: border-box;
}
/* Aside styles */
.aside-navbar {
    min-height: 100vh; /* 100 view height */
    width: 250px; /* Width */
    background-color: var(--secondary-color); /* Background color */
    color: var(--text-color1);
}
.aside-navbar a {
    color: var(--text-color1);
}

.aside-navbar a:hover{
    background-color: var(--principal-color);
}

/* Background colors */
.mog-bg-dp {
    background-color: var(--principal-color);
    color: var(--text-color1);
}

/* Tables */

.mog-table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
.mog-table th, td{
    border: 2px solid;
    border-color: var(--principal-bg);
    
}
.mog-table th {
    background-color: var(--tertiary-color);
    color: var(--text-color1);
}
.mog-table td {
    background-color: var(--secondary-bg);
    color: var(--text-color2);
    line-height: 100px;
} 