:root {
    --lapiz-lazuli: #33658A;
    --carolina-blue: #86BBD8;
    --black-text: #000000;
    --white-text: #FFFFFF;
    --orange-patone: #f26419;
}

/* ALL */

header {
    background-color: var(--lapiz-lazuli);
    color: var(--white-text);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin-top: 0;
    padding-top: 20px;
}

body {
    margin: 0 auto;
    height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

ul li {
    padding: 1.5em;
}

a {
    color: var(--white-text);
    text-decoration: none;
    padding: 1.5em;
}

a:visited {
    color: var(--white-text);
}

a:hover {
    background-color: var(--carolina-blue);
}

footer {
    background-color: var(--lapiz-lazuli);
    color: var(--white-text);
    padding: 4em;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* NEWS */

#columna_noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticia {
    background-color: var(--carolina-blue);
    color: var(--black-text);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

/* LOGIN */

#login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 400px;
    margin: 0 auto;
    background-color: var(--white-text);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

#login_title{
    width: 100%;
    background-color: var(--lapiz-lazuli);
    color: var(--white-text);
    padding: 2em;
}

#login_title h1 {
    margin: 0;
}

#content_login_container{
    width: 100%;
    height: 100%;
    
}

#content_login_container form{
    padding: 2em;
}

#content_login_container form input{
    margin-bottom: 1em;
    padding: 1.5em;
    border-radius: 5px;
    width: 87%;
    
    border: 1px solid var(--lapiz-lazuli);
}

#content_login_container form button {
    padding: 1.5em 2em;
    color: var(--white-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.reset-btn {
    background-color: var(--orange-patone);
}

.reset-btn:hover {
    background-color: #a74611;
}

.submit-btn {
    background-color: var(--lapiz-lazuli);
}

.submit-btn:hover {
    background-color: #23455f;
}

.btn {
    padding: 1.5em 2em;
    color: var(--white-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 1em;
    font-size: 14px;
    font-weight: bold;
}

/* ADMIN */

.container {
    width: 500px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

img{
    width: 500px;
}

.center-text{
    text-align: center;
}

.center-e{
    margin: 0 auto;
}